
<div id="head-box">
  <h1 class="head">
    WELCOME TO THE SANDBOX, FOO!
  </h1>

  <div id="info">

  </div>
</div>

<% @feed_items.each_with_index do |item, i| %>
<!--   <div class="feed_item item-<%= i %>">
    I AM A FEED ITEM. RAAAAAAAAAWWWWRRRRRR!!!!!
  </div> -->

<% end %>

<!-- <div id="blank" style="height:<%= @feed_items.count * 1000 %>px">
  nothing to see here...
</div>
 -->









<!-- 
<%= stylesheet_link_tag    "trip_show.css", :media => "all" %> -->
<script>
  $(function(){
    TF.TripShow.initializer($("body"));
    $('body').data('bar', { myType: 'test', count: 40 });
    console.log($("#info").height());
  });
</script>
