
<% if trip_creator(admin) %>
	<li><%= admin.username %> (trip creator)</li>
<% else %>
	<li id="admin-user-<%= admin.id %>">
		<%= admin.username %> | 
		<a class="remove-admin" data-id=<%= "#{admin.id}" %> >remove</a>
	</li>

<% end %>