<% content_for(:title) { "Trips" } %>

<h1>
  <%= "Listing of all trips" %>
</h1>

<ul class="trips-list">
  <%= render @trips %>
  <%= javascript_tag do %>
    TF.Trip.addSubscriptionListeners($("ul.trips-list"));
  <% end %>
</ul>