  	<% content_for(:title) { "Create Trip"} %>
  <div class="offset2">
  	<h1>
  	  Create a Trip
  	</h1>
  </div>
<div class="row">
  <div class="span8 offset2 panel">

  	<%= render partial: 'form' %>
  </div>
</div>