<% content_for(:title) { "Users" } %>


<div class="offset2">
  <h1>
  	<%= "All Users" %>
  </h1>
</div>

<div class="row">
  <div class="span8 offset2 panel">
    <ul class="users-list">
    	<%=	render @users %>
    </ul>
  </div>
</div>