<% content_for(:title) { "Users" } %>

<h1>
	<%= "Listing of all users" %>
</h1>

<ul class="users-list">
	<%=	render @users %>

	<%= javascript_tag do %>
    $(TF.UserFollowing.addFollowingListeners($("ul.users-list")));
  <% end %>

</ul>