<% content_for(:title) { "#{@user.username}'s Trip Subscriptions" } %>

<h1>
  <%= "#{@user.username}'s #{@subscriptions.count} Trip Subscriptions" %>
</h1>

<div class="row">
  <div class="span8 panel">

    <div id="trip-subscriptions-list">

      <%= render @subscriptions %>

    </div>
  </div>
</div>