<li class="tumble">

  <%= "Created by #{tumble[:blog_name]} at #{Time.at(tumble[:timestamp])}" %>
  <% if tumble[:type] == "text" %>
  <strong><%= tumble[:title] %></strong>
  <p><%= tumble[:body].html_safe %></p>
  <% end %>


</li>