<li class="tumble">

  <%= tumble[:post_id]  %>
  <% if tumble[:type] == "text" %>
  <strong><%= tumble[:title] %></strong>
  <p><%= tumble[:body] %></p>
  <% end %>
  TUMBLE BABY!!!!!!!!!!!!!!!!

</li>