<% content_for(:title) { @life_thread.name } %>

<h1>
  <%= "#{@life_thread.name}" %>
</h1>

<h3>
  <%= "#{@life_thread.tagline}"%>
</h3>
<p>
  <strong>
    <%= "#{@life_thread.hashtag}" %>
  </strong>
</p>
<p>
  <%= "#{@life_thread.description}" %>
</p>