/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
@import 'colors';

html, body {
  height: 100%;
}

body {
  padding-top: 60px;
}

small {
  font-size: .7em;
}

select {
  width: 8em;
}

a:hover {
  cursor: pointer;
}

.user-form {
  margin: 35px auto;
  width: 250px;
  h1 {
    margin: 30px auto 10px auto;
  }
}

.trip-form {
  margin: 35px auto;
  width: 500px;
  h1 {
    margin: 30px auto 10px auto;
  }
}

.center {
  text-align: center;
}


.container {
  min-height: 100%;
  position: relative;
  // padding-bottom: 60px;
}

.container-narrow {
  width: 80%;
  margin: 0 auto;
}

.container-normal {
  width: 940px;
  margin: auto;
}

.btn-large {
  padding: 1em 2em;
}

.admin-indicator {
  color: $successBlue;
  font-style: italic;
  padding-left: 10px;
}

/* LANDING PAGE ************ */
.jumbotron {
  margin: 60px 0px;
  text-align: center;
  h1 {
    font-size: 5.5em;
    line-height: 1;
  }
  .btn {
    font-size: 2em;
    padding: 1em 2em;
    margin: 1em 0;
  }
  .content {
    margin: 60px;
  }
  p.lead {
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 200;
    line-heigh: 3em;
  }
}

.benefit-boxes{

  /*margin: inherit auto;*/
}

.help-block {
  font-style: italic;
  color: $lightGray;
  padding-left: 20px;
}

.ajax-success {
  font-style: italic;
  color: $successGreen;
  padding-left: 20px;
}
/* HEADER */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

nav .pad-a{
  font-size: 1.2em;
  padding: 3px 20px;
}

/* FOOTER */

#footer {
  width: 100%;
  margin-top: -56px;
  margin-bottom: 0px;
  padding-top: 5px;
  border: 2px solid black;
  height: 50px;
  background-color: $navGray;
  color: $navTextGray;
}

.debug {
  position: fixed;
  bottom: 60px;
}



