/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
@import 'colors';

html, body {
  height: 100%;
  background-color: $background;
}

/* BACKGROUND */
html {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-attachment: fixed;
  background-color: #1b1b1b;
  background-image: url('tf-canyonlands-wide.jpg');
}

body {
  background-color: rgba(0,0,0,0);
}

/* *************** */


body {
  padding-top: 40px;
}

small {
  font-size: .7em;
}

select {
  width: 8em;
}

a:hover {
  cursor: pointer;
}

.user-form {
  margin: 35px auto;
  width: 250px;
  h1 {
    margin: 30px auto 10px auto;
  }
}

.trip-form {
  margin: 35px auto;
  width: 500px;
  h1 {
    margin: 30px auto 10px auto;
  }
}

.center {
  text-align: center;
}


.body {
  min-height: 100%;
  position: relative;
  padding-bottom: 50px;
}

.container-narrow {
  width: 80%;
  margin: 0 auto;
}

.container-normal {
  width: 940px;
  margin: auto;
}

.btn-large {
  padding: 1em 2em;
}

.admin-indicator {
  color: $successBlue;
  font-style: italic;
  padding-left: 10px;
}

.panel {
  background-color: $panelWhite;
  border-radius: 10px;
  padding: 18px;
  /*box-shadow: 10px 10px 5px $panelShadow;*/
  border: 1px solid #bbb;
  ul {
    list-style: none;
  }
}

.btn-following, .btn-subscription{
  width: 100px;
}

.users-list, .trips-list{
  list-style: none;
  li{
    padding: 8px;
  }
}

/* PROFILE ***************** */

.profile-title {
  padding: 5px 15px;
}

.profile-tagline {
  padding-left: 15px;
}



/* LANDING PAGE ************ */
.jumbotron {
  margin: 20px 0px;
  text-align: center;
  h1 {
    font-size: 5em;
    line-height: 1;
  }
  .btn {
    font-size: 2em;
    padding: .75em 1.5em;
    margin: 1em 0;
  }
  .content {
    margin: 60px;
  }
  p.lead {
    margin-bottom: 20px;
    font-size: 1.65em;
    font-weight: 200;
  }
}

.bump-right-40{
  margin-left: 40px;
}

.benefit-boxes{
  margin:  auto;
}

.help-block {
  font-style: italic;
  color: $lightGray;
  padding-left: 20px;
}

.ajax-success {
  font-style: italic;
  color: $successGreen;
  padding-left: 20px;
}
/* HEADER */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

nav .pad-a{
  font-size: 1.2em;
  padding: 3px 20px;
}

/* FOOTER */

#footer {
  width: 100%;
  // margin-top: -56px;
  margin-bottom: 0px;
  padding-top: 5px;
  height: 50px;
  background-color: $navGray;
  color: $navTextGray;
}

.debug {
  position: fixed;
  bottom: 60px;
}



