/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

body {
	padding-top: 60px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: rgb(27,27,27);
  color: rgb(153,153,153);
}

.debug {
  position: absolute;
  bottom: 50px;

}

.container {
  height: 80%;
  margin-left: 20px;
}

small {
  font-size: .7em;
}