@import 'colors';

#trip-show{
  background-image: none;
  background-color: black;
}

div.feed_item{
  height: 300px;
  width: 500px;
  background: transparent;
  // border: 1px solid white;
  color: white;
  position: fixed;
}

div.nav-seed{
  box-shadow: 1px 1px 1px black;
  position: fixed;
  z-index: 100;
}

div#info{
  overflow: hidden;
  clear: both;
  padding-top: 20px;
  z-index: 100;
  color: rgb(200, 200, 200);
}

h1.head {
  z-index: 200;
  color: white;
  text-shadow: 1px 1px black;
}

#scroll-val{
  position: fixed;
  top: 50px;
  left: 50px;
  color: white;
  z-index: 400;
}

.inner{
  // margin-left: auto;
  // margin-right: auto;
  text-align: center;
  // border-radius: 10px;
  // padding: 10px;
  top: 50%;
  left: 50%;
  position: absolute;
}
.inner-img{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.inner-tweet{
  max-width: 500px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.twitter-tweet {
  margin-right: auto;
  margin-left: auto;
}

#head-box{
  position: fixed;
  z-index: 300;
}

#loader {
  position: absolute;
  // float: right;
  margin-left: -60px;
  top: 10px;
  width: 50px;
  // display: none;
}

#help-text{
  color: #00c7ed;
  font-size: 2em;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  line-height: inherit;
  text-align: center;
  z-index: 1;
}

#help-triangle{
  position: relative;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #00c7ed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: none;
}

#help-triangle:before{
  position: absolute;
  top: 0px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  margin-top: -30px;
  margin-left: -20px;
}

.meta-content{
  color: #00c7ed;
  display: none;
  position: absolute;
  bottom: 50px;
  font-size: 2em;
  text-shadow: 1px 1px black;
  line-height: 1.1em;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  &:hover{
    cursor: pointer;
  }
}

// .meta-content:after{
//   position: absolute;
//   display: block;
//   content: "";
//   width: 0px;
//   height: 0px;
//   right: -20px;
//   bottom: 20px;
//   margin-bottom: auto;
//   margin-top: auto;
//   border-left: 10px solid #00c7ed;
//   border-bottom: 10px solid transparent;
//   border-top: 10px solid transparent;
// }

.caption{
  position: absolute;
  display: none;
  bottom: 50px;
  font-size: 1em;
  background-color: #ddd;
  // border: 1px solid black;
  color: black;
  box-shadow: 1px 1px 1px black;
  padding: 10px;
  max-height: 80px;
  overflow: auto;
  border-radius: 10px;
}

.tumble-text{
  color: black;
  background-color: $contentPanelWhite;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 150px;
  max-width: 600px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 30px;
  overflow: auto;
  box-shadow: 1px 1px 1px gray;
  margin-top: 10px;
  margin-bottom: 10px;
}