

@import 'colors';

label.radio:hover {
	cursor: pointer;
}

a {
	&.remove-whitelisted-user, &.remove-admin {
		&:hover{
			cursor: pointer;
		}
	}
}

#trip-view-radio-inputs {
	color: $mediumGray;
}

