
div.feed_item{
  height: 300px;
  width: 500px;
  background: gray;
  border: 3px solid black;
  color: white;
  position: fixed;
}

html{
  background: black;
  color: white;
}

div.nav-seed{
  /*background: blue;*/
  /*border: 1px solid gray;*/
  position: fixed;
}

div#info{
  overflow: hidden;
  z-index: 100;
  color: rgb(200, 200, 200);
}

h1 {
  z-index: 200;
  color: white;
}

#head-box{
  position: fixed;
  z-index: 300;
}

#help-text{
  color: #0f0;
  font-size: 3em;
  position: fixed;
  bottom: 100px;
  /*display: none;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}